include COPYING *.rst docs/* plural/storage/redis-lua-scripts/* plural/storage/* docs/source/* requirements.txt plural/web plural/web/* plural/web/dist plural/web/dist/* plural/web/templates plural/web/templates/*